::part(background) {
  background-image:
  var(--overlay),
  url('/assets/wallpaper.jpg')
  ;

  background-size: cover;

  --opacity: 0.3;
  --color: rgba(0, 0, 0, var(--opacity));
  --overlay: linear-gradient(var(--color), var(--color));
}
